<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/addcategory.css">

    <%-include('../admin/adminpartials/Header')-%>
    
    <!-- navbar start  -->
    <div class="content">
        <%-include('../admin/adminpartials/adminNav')-%>
         <!-- navbar start  -->
     <!-- adminSidebar start -->
     <%-include('../admin/adminpartials/adminSidebar')-%>
     <!-- adminSidebar start -->


     <style>
        .error-message {
            color: red;
            text-align: center;
            margin: 10px 0;
        }
    </style>
    </head>
    <body>
    <div class="form-container" style="margin-left: 250px;margin-top: 80px;">
        <h1>Add Brand</h1>
      <% if (locals.alredhave) { %>
        <div class="error-message"><%= alredhave %></div>
     <% } %>

        <form  action="/storeBrandsdb" method="post" id="categoryForm" >
            <div class="form-group">
                <label for="name">brand Name</label>
                <input type="text" id="name" name="name" required>
                <span style="color: red;" id="error-message"></span>
            </div>
            <div class="form-actions">
                <button type="submit">Add Brand</button>
            </div>
        </form>
    </div>

    <script>

        document.getElementById("categoryForm").addEventListener("submit", function(event) {
                const nameInput = document.getElementById("name").value.trim();
                const errorMessage = document.getElementById("error-message");
                const specialCharPattern = /[^a-zA-Z\s]/;
              errorMessage.innerText = ""; // Clear previous error messages

                if (nameInput === "") {
                    event.preventDefault();
                    errorMessage.innerText ="Only Space not Allowed "
                } 
                if (/\d/.test(nameInput)) {
                    event.preventDefault();
                    errorMessage.innerText ="Number not Allowed"
                } 
                if (specialCharPattern.test(nameInput)) {
            event.preventDefault();
            errorMessage.innerText = "Special characters are not allowed in the name.";
                 }

            });
        </script>
</body>
</html>
