



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style1.css">

    <!-- <title>Login #8</title> -->

    <style>
      .error-message {
          color: red;
          text-align: center;
          margin: 10px 0;
      }
  </style>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <% if (locals.lock) { %>
        <div class="error-message"><%= lock%></div>
    <% } %>
      <div class="row">
        <div class="col-md-6 order-md-2">
         
          <img src="/img/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign In  <strong></strong></h3>
              
            </div>
            <form action="/login" method="post">
              <div class="form-group first">
                <label for="username">EMAIL</label>
                <input type="email" class="form-control" id="email" name="email">
              

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                
                <input type="password" class="form-control" id="password" name="password">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <span class="ml-auto"><a href="/forgetpass" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input type="submit" value="Log In" class="btn text-white btn-block btn-primary">
              <br>
              <span class="label__sign-up">Don't have an account?</span>
              <a href="/loginandsignup" class="a__sign-up" style="color: green;">Sign Up</a>
              <span class="d-block text-left my-4 text-muted"> or sign in with</span>
              
              <div class="social-login">
                <a href="/auth/google" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>
              
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>