<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style1.css">
    <style>
        .error-message {
            color: red;
            text-align: center;
            margin: 10px 0;
        }
        .form-control::placeholder {
            font-size: 0.700em; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
<div class="content">
    <div class="container">
        <% if (locals.lock) { %>
        <div class="error-message"><%= lock %></div>
        <% } %>
        <% if (locals.blockuser) { %>
            <div class="error-message"><%= blockuser %></div>
            <% } %>
            <% if (locals.googleblock) { %>
                <div class="error-message"><%= googleblock %></div>
                <% } %>

                <% if (locals. noUserFound) { %>
                    <div class="error-message"><%=  noUserFound %></div>
                    <% } %>
               
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="/img/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In</h3>
                        </div>
                        <form action="/login" method="post" id='loginForm'>
                            <div class="form-group first">
                            <label for="email" ></label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                <div class="error-message" id="emailError"></div>
                            </div>
                            <div class="form-group">
                                <label for="password" ></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="font-size: 15px;">
                                <div class="error-message" id="passwordError"></div>
                            </div>
                            <div class="d-flex mb-5 align-items-center">
                                <span class="ml-auto"><a href="/forgetpass" class="forgot-pass">Forgot Password</a></span>
                            </div>
                            <button type="submit" class="btn text-white btn-block btn-primary">
                                Sign In
                            </button>
                            <br>
                            <span class="label__sign-up">Don't have an account?</span>
                            <a href="/loginandsignup" class="a__sign-up" style="color: green;">Sign Up</a>
                            <span class="d-block text-left my-4 text-muted"> or sign in with</span>
                            <div class="social-login">
                                <a href="/auth/google" class="google">
                                    <span class="icon-google mr-3"></span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/js/jquery-3.3.1.min.js"></script> -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener("submit", function (event) {
            event.preventDefault(); //prevent form submission

            const email = document.getElementById("email").value.trim();
            const password = document.getElementById('password').value.trim();

            const emailError = document.getElementById("emailError");
            const passwordError = document.getElementById('passwordError');

            emailError.textContent = '';
            passwordError.textContent = '';

            let isValid = true;

            // Checking email field
            if (!email) {
                emailError.textContent = 'Email is required';
                isValid = false;
            } else {
                const emailPattern = /^[^\s@]+@gmail\.com$/;
                if (!emailPattern.test(email)) {
                    emailError.textContent = 'Invalid email format'
                    isValid = false;
                }
            }

            // Checking password field
            if (!password) {
                passwordError.textContent = 'Password is required';
                isValid = false;
            } else {
                const passwordPattern = /^(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
                if (!passwordPattern.test(password)) {
                    passwordError.textContent = 'Password must be minimum eight characters and use (!@#$%^&*)';
                    isValid = false;
                }
            }

            if (isValid) {
                loginForm.submit();
            }
        });
    });
</script>
</body>
</html>
