<div class="sidebar">
    <table>
        <tr><td><a href="/user-profile">My Account</a></td></tr>
        <tr><td><a href="/UserWallet">Wallet</a></td></tr>
        <tr><td><a href="/userOrder">My Order</a></td></tr>
        <tr><td><a href="#">Shopping Cart</a></td></tr>
        <tr><td><a href="#">Wishlist</a></td></tr>
        <tr><td><a href="/Address">Address</a></td></tr>
        <tr><td><a href="#">Logout</a></td></tr>
    </table>
</div>